header img {
  width: 50%;
}

send-account {
  display: none;
}

send-upload-area > button:not(#upload-btn) {
  display: none;
}

footer.flex {
  display: none;
}

send-promo.md\:flex {
    display: none;
}
